*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*NAVEGADOR*/

.navbar-text {
    font-family: Raleway, sans-serif;
}

.navbar-dark .navbar-text {
    color: #FFFF;
}

@media (min-width: 900px) { 
    .navbar {
        justify-content: left;
    }
    .navbar-text {
        padding: 0 30px 0 0;
    }
 }

.logo-img {
    width: 40px;
    margin-top: 8px;
}

.logo {
    font-family: "Titillium Web", sans-serif;

}

.slogan {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}


/*LOG-IN*/

.card, .text-center {
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}

.card-header, .card-footer {
    background-color: #f78179;
    background-image: linear-gradient(147deg, #f78179 0%, #FF2525 74%);
}

.card-title {
    font-family: "Zilla Slab", serif;
    font-size: 17px;
}

.wrongPass, .wrongUser, .wrongBoth {
    color: red;
    font-family: "Zilla Slab", serif;
}

#incomplete-field {
    height: 24px;
    margin: 10px 0 0;
}


/*INICIO*/

.columns-style {
    margin: 12px 0;
}

.grid-content {
    display: grid;
    margin: 0 auto;
    max-width: 500px;
}

.img-fluid {
    transition: 0.2s ease-in-out;
}

.img-fluid:hover {
    transform: scale(1.1);
}

/*CALENDARIO*/
.fc .fc-toolbar-title {
    font-size: 1em;
    font-family: Raleway, sans-serif;
    margin-left: 3px;
}

.fc-today-button.fc-button.fc-button-primary {
    background-color: red;
    border-color: red;
}

/*CALCULADORA INPUTS - BUTTON*/

.btn.btn-outline-danger {
    margin: 10px;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-calc {
    height: 40px;
    width: 150px;
    background-color: white;
}

/*WEATHER VIEW*/

#incomplete-field {
    font-family: "Zilla Slab", serif;
    color: red;
}

.general-weather {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.general-weather:empty {
    display: none;
 }

.temperature:empty {
    display: none;
}

.owf-800 {
    color: orange;
}

.city-name {
    font-family: Raleway, sans-serif;
    margin: 0px;
}

.degree {
    font-family: Raleway, sans-serif;
    color: red;
}

.recommend {
    font-family: 'Bree Serif', serif;
    color: black;
    margin: 5px 15px;
    font-size: 20px;
}

.temp-description {
    font-family: "Zilla Slab", serif;
    color: white;
    margin: 0px 40px 10px;
    padding: 10px 10px;
    border-radius: 20px;
}

